{% extends "main/base.html" %}
{% load static %}
{% load my_filters %}

{% block products %}
<!-- Products Section -->
<section id="products" class="portfolio section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Автомобили</h2>

    <!-- КАРУСЕЛЬ КАСТОМ -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">
      <!-- Section Title -->
      <!-- <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>
          Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
          consectetur velit
        </p>
      </div> -->
      <!-- End Section Title -->

      <div class="container">
        <div
          class="isotope-layout"
          data-default-filter="*"
          data-layout="masonry"
          data-sort="original-order"
        >
          <ul
            class="portfolio-filters isotope-filters"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <li data-filter="*" class="filter-active">Все</li>
            {% for country in countries %}
              <li data-filter=".filter-{{country.slug}}">{{country.name}}</li> 
            {% endfor %}
            {% comment %} <li data-filter=".filter-korea">Корея</li>
            <li data-filter=".filter-china">Китай</li>
            <li data-filter=".filter-japan">Япония</li>
            <li data-filter=".filter-europe">Европа</li>
            <li data-filter=".filter-georgia">Грузия</li>
            <li data-filter=".filter-usa">США</li> {% endcomment %}

          </ul>
          <!-- End Portfolio Filters -->

          <div
            class="row gy-4 isotope-container"
            data-aos="fade-up"
            data-aos-delay="200"
          >

          {% for product in products %}
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-{{ product.country|lower }}">
              <div class="portfolio-content h-100">
                  <a href="{% static product img %}" data-gallery="portfolio-gallery-app" class="glightbox">
                      <img src="{% static product.img %}" class="img-fluid" alt="{{ product.name }} {{product.description}}">
                  </a>
                  <div class="portfolio-info">
                      <h4>
                          <a href="#" title="">{{ product.name }} {{product.description}}</a>
                      </h4>
                      <div class="button-container d-flex align-items-center justify-content-center">
                          <a href="#contact_form" class="btn-iwant mr-3">Хочу такой же</a>
                          <span class="price-text">Средняя цена {{ product.price|dot_separator }}</span>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}


          </div>
          <!-- End Portfolio Container -->
        </div>
      </div>
    </section>
    <!-- /Portfolio Section -->
  </div>
  <!-- End Section Title -->
</section>
<!-- /Portfolio Section -->
{% endblock %}